h1 {
    border: 2px solid #b82853;
    text-align: center;
    background-blend-mode: color;
}
h2 { /* I wanted to center my second heading*/
   text-align: center;
   width: 100%;
}
body {
 background-color: rgba(78, 11, 78, 0.726);
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
}
p { /* So with this code I wanted to center my first paragraph*/
    color: rgb(12, 11, 11);
    text-align: left;
    height: 20px;
    margin: 50px;
    font-size: 20px;
}   /* So here I wanted to make sure the bottom buttons were arranged, somewhat decently */
input[type="Comments"],
input[type="About"],
input[type="Quote"] {
    cursor: pointer;
}
ul {/* So here I wanted to make sure my navigation bar didn't have default bullit points */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: palevioletred;
}
/* Small devices */
@media (min-width: 576px) and (max-width: 767.98px) {
        .body {
        width: 100%;
        }
}
.container {
   font-weight: bold;
}
li {
    display: inline; 
    text-align: center;
} 
li:last-child {
    border-bottom: none;
}
.nav a { /* So here I wanted to make sure my navigation bar went to the top right */
    float: right;
    margin: 0;
    padding: 15px;
    display: block;
}
.Quote {
    text-align: center;
    padding: 25px;
    font-size: 20px;
    margin: 10px;
}
.main-footer {/* So here I wanted to create a fixed footer, that stayed at the bottom */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color: black;
    color: white;
    text-align: center;
}
#comment {
    width:200px;
    margin:auto; 
}